@model IEnumerable<SoftwareHub.Models.Product>

@{
    ViewData["Title"] = "SoftwareHub";
}

<!DOCTYPE html>
<body>

<style>
    .product .product-body .product-name {
        text-transform: uppercase;
        font-size: 20px;
        color: #D10024;
    }
</style>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Our Products</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                
                            @foreach (var item in Model) {
                                var productIdent = item.ProductId.ToString();
                                var productName = item.ProductName.ToString();
                                var productbasicPrice = item.BasicPrice.ToString();
                                var productstdPrice = item.StandardPrice.ToString();
                                var productentPrice = item.EnterprisePrice.ToString();
                                var productCategory = item.Category.ToString();
                                var productDetail = item.Description.ToString();
                                var productPoc =item.PocName.ToString();
                                var productPocmail = item.PocEmail.ToString();
                                var productPocphone = item.PocPhone.ToString();

                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://th.bing.com/th/id/R40a32bc2171bb9e3fa93f037abd501b8?rik=tRXv57Ej%2bDbvgw&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f4%2fCoder-PNG-Transparent-Image-279x279.png&ehk=PCfc0cXYEX7gDIaODdslAXH9DIGwx5YWAlE52L9L8Jw%3d&risl=&pid=ImgRaw" alt="">
                                        <div class="product-label">        
                                        </div>
                                    </div>

                                    <div class="product-body">
                                        <p class="product-category">
                                             @Html.DisplayFor(modelItem => item.Category)
                                        </p>
                                        <br/>
                                        <br/>
                                        <h2 class="product-name">
                                            <a href="#">
                                                 @Html.DisplayFor(modelItem => item.ProductName)
                                            </a>
                                        </h2>

                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>


                                    <div class="add-to-cart">

                                        <button 
                                            class="add-to-cart-btn" 
                                            id="btn" 
                                            idp="@item.ProductId" 
                                            namep="@item.ProductName"
                                            pricebp="@item.BasicPrice"
                                            pricesp="@item.StandardPrice"
                                            priceep="@item.EnterprisePrice"
                                            categoryp="@item.Category" 
                                            detailp="@item.Description"
                                            pocp ="@productPoc"
                                            pocemailp ="@productPocmail"
                                            pocphonep ="@productPocphone"
                                            onclick="location.href = '/Product/Product';"
                                            >
                                            View Details
                                        </button>

                                    </div>
                                </div>
                            }

                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<!--<div id="hot-deal" class="section">-->
    <!-- container -->
    <!--<div class="container">-->
        <!-- row -->
        <!--<div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase"> Offers this week </h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#"> Shop now </a>
                </div>
            </div>
        </div>-->
        <!-- /row -->
    <!--</div>-->
    <!-- /container -->
<!--</div>-->
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab2">Category 1</a></li>
                            <li><a data-toggle="tab" href="#tab2">Category 2</a></li>
                            <li><a data-toggle="tab" href="#tab2">Category 3</a></li>
                            <li><a data-toggle="tab" href="#tab2">Category 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                @foreach (var item in Model)
                                {
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="/img/product06.png" alt="">
                                            <div class="product-label">
                                                
                                            </div>
                                        </div>

                                        <div class="product-body">

                                            <p class="product-category">@Html.DisplayFor(modelItem => item.Category)</p>
                                            <br/>
                                            <br/>
                                            <h2 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.ProductName)</a></h2>
                                            
                                            
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            </div>
                                        </div>

                                        
                                        </div>
                                        

                                        }

                                    </div>
                                    <div id="slick-nav-2" class="products-slick-nav"></div>
                                </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script src="~/js/prodstorage.js"></script>
</body>